<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="delta_parameters">

<!-- Properties passed as arguments -->

<xacro:arg name="lower_length" default="0.4"/>
<xacro:property name="lower_length" value="$(arg lower_length)"/>

<xacro:arg name="upper_length" default="0.2"/>
<xacro:property name="upper_length" value="$(arg upper_length)"/>

<xacro:arg name="wrist_roll_length" default="0.1"/>
<xacro:property name="wrist_roll_length" value="$(arg wrist_roll_length)"/>

<xacro:arg name="wrist_pitch_length" default="0.3"/>
<xacro:property name="wrist_pitch_length" value="$(arg wrist_pitch_length)"/>

<!-- Other properties -->

<xacro:property name="fixed_base_radius" value="0.15"/>
<xacro:property name="fixed_base_height" value="0.1"/>
<xacro:property name="base_radius" value="0.1"/>
<xacro:property name="base_height" value="0.1"/>

<xacro:property name="arm_radius" value="0.05"/>
<xacro:property name="wrist_radius" value="0.03"/>

<xacro:property name="fixed_base_mass" value="0.5"/>
<xacro:property name="base_mass" value="0.5"/>
<xacro:property name="lower_mass" value="0.1"/>
<xacro:property name="upper_mass" value="0.1"/>
<xacro:property name="wrist_roll_mass" value="0.1"/>
<xacro:property name="wrist_pitch_mass" value="0.1"/>
<xacro:property name="tool_base_mass" value="0.1"/>

</robot>
