<launch>
    <param
        name="robot_description"
        command="xacro '$(find cga_robotics_ros)/model/serial/ros2.urdf.xacro'"
    />
    <node
        name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
    />
    <node
        name="joint_state_publisher_gui"
        pkg="joint_state_publisher_gui"
        type="joint_state_publisher_gui"
    />
    <node
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find cga_robotics_ros)/config/view_robot.rviz"
    />
</launch>
