<launch>
    <param name="robot_description"
    command="xacro '$(find cga_robotics_ros)/model/delta/ros.urdf.xacro'"/>
    <param name="robot_description_sdf"
    command="xacro '$(find cga_robotics_ros)/model/delta/gazebo.sdf.xacro'"/>

    <rosparam
        file="$(find cga_robotics_ros)/config/delta_controllers.yaml"
        command="load"
    />

    <rosparam
        file="$(find cga_robotics_ros)/config/delta_gazebo_control_gains.yaml"
        command="load"
    />
    <node
        name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-param robot_description_sdf -sdf -x 0 -y 0 -z 0 -model delta -b -gazebo_namespace gzserver"
    />

</launch>
