<?xml version='1.0'?>
<sdf version='1.4' xmlns:xacro="http://www.ros.org/wiki/xacro">
<model name="delta">
<selfCollide>true</selfCollide>

<joint name="world_fix" type="fixed">
    <pose>0 0 0 0 0 0</pose>
    <parent>world</parent>
    <child>base</child>
</joint>

<xacro:include filename="parameters.xacro"/>
<xacro:include filename="../macros/inertia.xacro"/>

<xacro:include filename="gazebo_links/base.sdf.xacro"/>
<xacro:include filename="gazebo_links/upper.sdf.xacro"/>
<xacro:include filename="gazebo_links/lower.sdf.xacro"/>
<xacro:include filename="gazebo_links/end_effector.sdf.xacro"/>

<xacro:include filename="gazebo_joints/upper.sdf.xacro"/>
<xacro:include filename="gazebo_joints/lower.sdf.xacro"/>
<xacro:include filename="gazebo_joints/end_effector.sdf.xacro"/>

<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>

<xacro:macro name="mimic_joint_plugin_gazebo" params="name_prefix parent_joint mimic_joint has_pid:=false multiplier:=1.0 offset:=0 sensitiveness:=0.0 max_effort:=1.0 robot_namespace:=''">
  <plugin name="${name_prefix}mimic_joint_plugin" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
    <joint>${parent_joint}</joint>
    <mimicJoint>${mimic_joint}</mimicJoint>
    <xacro:if value="${has_pid}">                     <!-- if set to true, PID parameters from "/gazebo_ros_control/pid_gains/${mimic_joint}" are loaded -->
      <hasPID />
    </xacro:if>
    <multiplier>${multiplier}</multiplier>
    <offset>${offset}</offset>
    <sensitiveness>${sensitiveness}</sensitiveness>   <!-- if absolute difference between setpoint and process value is below this threshold, do nothing; 0.0 = disable [rad] -->
    <maxEffort>${max_effort}</maxEffort>              <!-- only taken into account if has_pid:=true [Nm] -->
    <xacro:unless value="${robot_namespace == ''}">
      <robotNamespace>${robot_namespace}</robotNamespace>
    </xacro:unless>
  </plugin>
</xacro:macro>

<xacro:mimic_joint_plugin_gazebo name_prefix="gripper"
  parent_joint="gripper" mimic_joint="gripper_mimic"
  has_pid="true" multiplier="1.0" max_effort="10.0" />

</model>
</sdf>
