<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="delta_materials">

<material name="base">
    <color rgba="1 0 1 1"/>
</material>

<material name="upper">
    <color rgba="0 1 1 1"/>
</material>

<material name="lower">
    <color rgba="0 1 0 1"/>
</material>

<material name="end_effector">
    <color rgba="1 0 1 1"/>
</material>

</robot>
